.artwork-card {
    background-color: #fefaf2; 
    border-radius: 15px; 
    padding: 20px;
    text-align: center;
    width: 250px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
  .artwork-image {
    width: 100%;
    border-radius: 15px; 
    object-fit: cover;
  }
  
  .artwork-name {
    color: rgb(165, 42, 42); 
    margin-top: 15px;
  }
  
  .artwork-actions {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
  }
  
  .artwork-action {
    background-color: #d8b4a0; /* Matching color for buttons */
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .artwork-action:hover {
    background-color: #c19a8b; /* Darker shade on hover */
  }
  