.footer {
    background-color: teal;
    color: #fff;
    padding: 1rem 2rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    overflow-x: hidden;
    overflow-y: auto;
    
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer p {
    margin: 0;
    font-size: 1rem;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    margin: 1rem 0 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .footer-links li {
    margin: 0;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
    transition: color 0.3s ease;
  }
  
  .footer-links a:hover {
    color: #f0f0f0;
  }
  
  .social-media {
    margin: 1rem 0 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .social-media a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s ease;
  }
  
  .social-media a:hover {
    color: #f0f0f0;
  }
  