
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Century Gothic', sans-serif;
}

.landing-page {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

